@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6{
    color: #6DC952;
    font-family: "Kanit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color:#6DC952;
}

a:hover {
    color:#366128;
}
