@import url('https://fonts.googleapis.com/css2?family=Roboto:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6{
    color: #6DC952;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color:#6DC952;
}

a:hover {
    color:#366128;
}

/* create class named konami that spins the site */
.easterEgg {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
